@import "omega_mixins";
  
// Basic Color Variables 
$primaryColor1: #4E1E3A;
$primaryColor2: #5A5A5A;
$primaryColor3: #86B2CC;
$primaryColor4: #1A1A1A;
$primaryColor5: #9A9A9A;
$mainMenuBgColor: #4D9A9A;
$mainMenuFontColor: #1A1A1A;
$mainMenuBorderColor: #1A1A1A;
$buttonBgColor: #FF9A9A;
$buttonFontColor: #001A1A;
$buttonBorderColor: #1A1A1A;

// Basic Font Variables
$defaultHeaderFont: "Comic Sans MS", cursive, sans-serif;
$defaultBodyFont: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
